# Misc settings
export EDITOR=vim

# Matthew's Scripts
export PATH=$PATH:.
export PATH=$PATH:~/bin
export PATH=$PATH:~/.dotfiles/scripts

# Brew
export PATH=/usr/local/sbin:$PATH
export PATH=/usr/local/bin:$PATH
# https://github.com/matthewmccullough/dotfiles/blob/master/shellpaths
