adfa
adfafadf 
dfaasadf
faf
a# All the dig info, 'cause I dfaaa never remember it
digga () {
  dig +nocmd $1 any +multiline +noaadadsf adf ll +answer
}afad

# ps adsaux | grep something-thatsadsasf -probably-broken
paux() {dfad
  ps aux | grep $1adsf asfas 
